.carousel
	position: relative
	transform: translate3d(0,0,0)
	&-price
		position: absolute
		right: 22px
		bottom: 30px
		+roboto
		font-size: 12px
	&-pic
		width: 100%

	.dots-bullets
		display: flex
		position: absolute
		left: 22px
		bottom: 34px
		li
			margin-right: 7px
			&.swiper-pagination-active
				background: $cl
				opacity: 1
